* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

.modal-active {
  overflow: hidden;
}

.switch-active {
  background-color: #444444;
}


.container {
  max-width: 1760px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 50px 30px 0 30px;
  &__logo {
    display: flex;
  }

  &__links {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }

  &__item {
    text-decoration: none;
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #C3B9B5;
    padding-left: 80px;
  }

  &__item:hover {
    color: #59443F;
  }

  &__active {
    color: #59443F;
  }
}

.main {
  background-image: url(../assets/backImage/doctor.png);
  height: 87vh;
  background-repeat: no-repeat;
  background-position: right bottom;

  &__content {
    padding: 150px 0 0 420px;
  }

  &__item {
    font-family: 'SchoolBook';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 110px;
    color: #080606;
  }

  &__button {
    margin-top: 50px;
    width: 285px;
    height: 67px;
    background: #FFC59E;
    box-shadow: 0 4px 20px #FFC59E;
    border-radius: 33.5px;
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
  }

  &__button:hover {
    background-color: #59443F;
  }

  &__contacts {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__links {
    display: flex;
  }

  &__link {
    display: block;
    padding-right: 50px;
  }

  &__phone-link {
    text-decoration: none;
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #59443F;
  }
}

.footer {
  background: #59443F;
  width: 100%;
  min-height: 420px;


  &__left-section {
    padding-top: 80px;
    padding-left: 30px;
    display: flex;
    align-items: center;
  }

  &__title {
    padding-left: 22px;
  }

  &__text {
    font-family: 'SchoolBook';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 46px;
    color: #FFFFFF;
  }

  &__subtitle {
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
  }

  &__contacts {
    display: flex;
    justify-content: space-between;
  }

  &__navigation-section {
    display: flex;
    padding-top: 30px;
    padding-left: 140px;
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    padding-right: 100px;
  }

  &__nav-item {
    text-decoration: none;
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
  }

  &__nav-item:hover {
    color: #FFC59E;
  }

  &__link-item {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
  }

  &__link {
    text-decoration: none;
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
  }

  &__link:hover {
    color: #FFC59E;
  }

  &__end {
    padding-top: 40px;
    display: flex;
  }

  &__end-item {
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
  }
}

.history {
  display: flex;
  padding-left: 230px;
  align-items: center;

  &__company-item {
    font-family: 'SchoolBook';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 110px;
    color: #080606;
  }

  &__subtitles {
    padding-top: 50px;
  }

  &__subtitle-item {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding-bottom: 25px;
    font-family: 'Futura New';
    font-size: 20px;
    line-height: 30px;
    color: #C3B9B5;
  }

  &__subtitle-item:hover {
    color: #59443F;
  }

  &__img {
    margin-top: 60px;
    margin-left: 120px;
  }
}

.subtitle1 {
  margin-top: 40px;
  margin-left: 990px;

  &__name {
    font-family: 'SchoolBook';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #080606;
  }

  &__definition {
    margin-top: 30px;
    font-family: 'Futura New';
    font-size: 15px;
    line-height: 30px;
    color: #59443F;
  }

  &__text {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Futura New';
    font-size: 15px;
    line-height: 30px;
    color: #59443F;
  }

  &__list {
    margin-left: 19px;
    list-style-type: -moz-devanagari;
  }
}


.therapy {
  margin: 120px 0 0 120px;
  display: flex;

  &__navigation {
    display: flex;
    flex-direction: column;
  }

  &__nav-item {
    text-decoration: none;
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #C3B9B5;
    padding-bottom: 20px;
  }

  &__other {
    margin-left: 300px;
  }

  &__nav-item:hover {
    color: #59443F;
  }

  &__entry {
    margin-bottom: 80px;
  }

  &__text {
    margin-bottom: 30px;
    font-family: 'SchoolBook';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #080606;
  }

  &__list {
    display: flex;
  }

  &__list-item {
    display: flex;
    margin-right: 40px;
    width: 344px;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }

  &__name {
    font-family: 'Futura New';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    color: #080606;
  }

  &__test {
    padding-top: 25px;
    padding-left: 15px;
  }

  &__date {
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #C3B9B5;
  }

  &__text-item {
    padding-bottom: 25px;
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #59443F;
  }
  &__ul-list {
    padding-left: 20px;
    margin-bottom: 20px;
  }

  &__ul-item {
    padding-bottom: 5px;
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #59443F;
  }

  &__price {
    display: flex;
    justify-content: space-between;
  }

  &__price-item {
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #59443F;
  }

  &__pagination {
    display: flex;
    margin-right: 200px;
  }

  &__pagination-item {
    margin-right: 15px;
    list-style-type: none;
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #C3B9B5;
  }

  &__pagination-active {
    color: #080606;
  }

  &__price-list {
    margin-top: 30px;
    margin-left: 15px;
  }

  &__item-price {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 15px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
    width: 909px;
    height: 48px;
    background: #EDE9E8;
    mix-blend-mode: normal;
    opacity: 0.9;
    border-radius: 15px;
    color: black;
  }

  &__item-price:hover {
    background: #59443F;
  }

  &__text-price {
    color: black;
  }
}

.contacts {
  display: flex;
  align-items: center;
  &__content {
    margin-top: 70px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
  }

  &__content-item {
    margin-bottom: 70px;
  }

  &__text {
    font-family: 'SchoolBook';
    font-size: 40px;
    line-height: 40px;
    color: #080606;
  }

  &__name {
    padding-bottom: 20px;
    font-family: 'SchoolBook';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #080606;
  }

  &__test {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
  }

  &__text-item {
    padding-left: 15px;
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #59443F;
  }

  &__map {
    margin-top: 50px;
    margin-left: 200px;
  }
}

.modal {
  display: none;
  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0, .5);
  }

  &__window {
    margin: 100px auto;
    width: 400px;
    height: 368px;
    background: #FFFFFF;
    box-shadow: 2px 2px 20px rgba(155, 82, 50, 0.1);
    border-radius: 20px;
  }

  .main__button {
    margin-left: 50px;
  }

  &__text {
    margin-bottom: 32px;
    font-family: 'SchoolBook';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #080606;
  }

  &__input {
    padding-left: 25px;
  }
}

.input {
  box-sizing: border-box;
  width: 344px;
  height: 57px;
  background: #FFFFFF;
  border: 1px solid #EDE9E8;
  border-radius: 20px;
  font-family: 'Futura New';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #59443F;
  padding-left: 20px;
}

active-modal {
  display: block;
}

.dropbtn {
  background: #FFC59E;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: fixed;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #59443F;}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.gallery {
  margin-top: 40px;
  display: flex;

  &__buttons {
    display: flex;
    max-width: 100%;
    margin: auto;
  }

  &__photo {
    width: 200px;
    height: 200px;
  }

  &__items {
    margin: 0 auto;
  }
}

.blog {
  display: flex;
  justify-content: space-between;

  &__p1 {
    max-width: 400px;
  }
}