* {
  margin: 0;
  padding: 0;
  border: 0; }

.modal-active {
  overflow: hidden; }

.switch-active {
  background-color: #444444; }

.container {
  max-width: 1760px;
  margin: 0 auto; }

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 50px 30px 0 30px; }
  .navigation__logo {
    display: flex; }
  .navigation__links {
    display: flex;
    align-items: center;
    margin-right: 30px; }
  .navigation__item {
    text-decoration: none;
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #C3B9B5;
    padding-left: 80px; }
  .navigation__item:hover {
    color: #59443F; }
  .navigation__active {
    color: #59443F; }

.main {
  background-image: url(../assets/backImage/doctor.png);
  height: 87vh;
  background-repeat: no-repeat;
  background-position: right bottom; }
  .main__content {
    padding: 150px 0 0 420px; }
  .main__item {
    font-family: 'SchoolBook';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 110px;
    color: #080606; }
  .main__button {
    margin-top: 50px;
    width: 285px;
    height: 67px;
    background: #FFC59E;
    box-shadow: 0 4px 20px #FFC59E;
    border-radius: 33.5px;
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF; }
  .main__button:hover {
    background-color: #59443F; }
  .main__contacts {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .main__links {
    display: flex; }
  .main__link {
    display: block;
    padding-right: 50px; }
  .main__phone-link {
    text-decoration: none;
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #59443F; }

.footer {
  background: #59443F;
  width: 100%;
  min-height: 420px; }
  .footer__left-section {
    padding-top: 80px;
    padding-left: 30px;
    display: flex;
    align-items: center; }
  .footer__title {
    padding-left: 22px; }
  .footer__text {
    font-family: 'SchoolBook';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 46px;
    color: #FFFFFF; }
  .footer__subtitle {
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF; }
  .footer__contacts {
    display: flex;
    justify-content: space-between; }
  .footer__navigation-section {
    display: flex;
    padding-top: 30px;
    padding-left: 140px; }
  .footer__navigation {
    display: flex;
    flex-direction: column;
    padding-right: 100px; }
  .footer__nav-item {
    text-decoration: none;
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF; }
  .footer__nav-item:hover {
    color: #FFC59E; }
  .footer__link-item {
    padding-top: 30px;
    display: flex;
    flex-direction: column; }
  .footer__link {
    text-decoration: none;
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF; }
  .footer__link:hover {
    color: #FFC59E; }
  .footer__end {
    padding-top: 40px;
    display: flex; }
  .footer__end-item {
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF; }

.history {
  display: flex;
  padding-left: 230px;
  align-items: center; }
  .history__company-item {
    font-family: 'SchoolBook';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 110px;
    color: #080606; }
  .history__subtitles {
    padding-top: 50px; }
  .history__subtitle-item {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding-bottom: 25px;
    font-family: 'Futura New';
    font-size: 20px;
    line-height: 30px;
    color: #C3B9B5; }
  .history__subtitle-item:hover {
    color: #59443F; }
  .history__img {
    margin-top: 60px;
    margin-left: 120px; }

.subtitle1 {
  margin-top: 40px;
  margin-left: 990px; }
  .subtitle1__name {
    font-family: 'SchoolBook';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #080606; }
  .subtitle1__definition {
    margin-top: 30px;
    font-family: 'Futura New';
    font-size: 15px;
    line-height: 30px;
    color: #59443F; }
  .subtitle1__text {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Futura New';
    font-size: 15px;
    line-height: 30px;
    color: #59443F; }
  .subtitle1__list {
    margin-left: 19px;
    list-style-type: -moz-devanagari; }

.therapy {
  margin: 120px 0 0 120px;
  display: flex; }
  .therapy__navigation {
    display: flex;
    flex-direction: column; }
  .therapy__nav-item {
    text-decoration: none;
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #C3B9B5;
    padding-bottom: 20px; }
  .therapy__other {
    margin-left: 300px; }
  .therapy__nav-item:hover {
    color: #59443F; }
  .therapy__entry {
    margin-bottom: 80px; }
  .therapy__text {
    margin-bottom: 30px;
    font-family: 'SchoolBook';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #080606; }
  .therapy__list {
    display: flex; }
  .therapy__list-item {
    display: flex;
    margin-right: 40px;
    width: 344px;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px; }
  .therapy__name {
    font-family: 'Futura New';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    color: #080606; }
  .therapy__test {
    padding-top: 25px;
    padding-left: 15px; }
  .therapy__date {
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #C3B9B5; }
  .therapy__text-item {
    padding-bottom: 25px;
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #59443F; }
  .therapy__ul-list {
    padding-left: 20px;
    margin-bottom: 20px; }
  .therapy__ul-item {
    padding-bottom: 5px;
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #59443F; }
  .therapy__price {
    display: flex;
    justify-content: space-between; }
  .therapy__price-item {
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #59443F; }
  .therapy__pagination {
    display: flex;
    margin-right: 200px; }
  .therapy__pagination-item {
    margin-right: 15px;
    list-style-type: none;
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #C3B9B5; }
  .therapy__pagination-active {
    color: #080606; }
  .therapy__price-list {
    margin-top: 30px;
    margin-left: 15px; }
  .therapy__item-price {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 15px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
    width: 909px;
    height: 48px;
    background: #EDE9E8;
    mix-blend-mode: normal;
    opacity: 0.9;
    border-radius: 15px;
    color: black; }
  .therapy__item-price:hover {
    background: #59443F; }
  .therapy__text-price {
    color: black; }

.contacts {
  display: flex;
  align-items: center; }
  .contacts__content {
    margin-top: 70px;
    margin-left: 200px;
    display: flex;
    flex-direction: column; }
  .contacts__content-item {
    margin-bottom: 70px; }
  .contacts__text {
    font-family: 'SchoolBook';
    font-size: 40px;
    line-height: 40px;
    color: #080606; }
  .contacts__name {
    padding-bottom: 20px;
    font-family: 'SchoolBook';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #080606; }
  .contacts__test {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 30px; }
  .contacts__text-item {
    padding-left: 15px;
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #59443F; }
  .contacts__map {
    margin-top: 50px;
    margin-left: 200px; }

.modal {
  display: none; }
  .modal__overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); }
  .modal__window {
    margin: 100px auto;
    width: 400px;
    height: 368px;
    background: #FFFFFF;
    box-shadow: 2px 2px 20px rgba(155, 82, 50, 0.1);
    border-radius: 20px; }
  .modal .main__button {
    margin-left: 50px; }
  .modal__text {
    margin-bottom: 32px;
    font-family: 'SchoolBook';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #080606; }
  .modal__input {
    padding-left: 25px; }

.input {
  box-sizing: border-box;
  width: 344px;
  height: 57px;
  background: #FFFFFF;
  border: 1px solid #EDE9E8;
  border-radius: 20px;
  font-family: 'Futura New';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #59443F;
  padding-left: 20px; }

active-modal {
  display: block; }

.dropbtn {
  background: #FFC59E;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none; }

.dropdown {
  position: fixed;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

.dropdown-content a:hover {
  background-color: #ddd; }

.dropdown:hover .dropdown-content {
  display: block; }

.dropdown:hover .dropbtn {
  background-color: #59443F; }

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; }

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1; }

.tooltip:hover .tooltiptext {
  visibility: visible; }

.gallery {
  margin-top: 40px;
  display: flex; }
  .gallery__photo {
    width: 300px;
    height: 300px; }
  .gallery__items {
    margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
